# dependencies
node_modules/

# next.js
.next/
out/

# misc
.DS_Store
*.pem
*.log

# env
.env
.env*.local

# captured emails / phones
data/*.jsonl
data/*.csv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
